html {
    size: 16px;
}

small, input, select {
    display: block;
}

.respuesta {
    background-color: #353535;
    font-size: 3em;
    color: #fff;
    display: none;
}

.container, p.text-center {
    font-size: 1em;
}

.autores {
    background-color: #363636;
    color: #80bdff;
}

.card-img-bottom {
    width: 90px;
}
